.layout-board
    height: 100vh
    .return-icon
        cursor: pointer

    .perfil-icon
        cursor: pointer

    .content-board
        .crear-lista
            margin-right: 2rem
            margin-top: 1rem
        
        .flex-listas
            overflow: auto
            overflow-x: scroll
            padding-left: 23rem
            padding-right: 1rem
            height: 90vh